
.box{
    height: 400px;
   max-height: 45vh;
    margin: 20px;
}
.grid{
   min-height: 100%; 
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   flex-direction: row;
}

.grid > div {
    flex-basis: calc(25%-40px);

}